<html>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" style="font-size: 13px">
            <tbody>
                <tr>
                    <td style="vertical-align: center; text-align: center; width: 150px">
                        <a href="{{ url_for('posts.render', path=page_id, _external=True) }}">
                            <img height="200" src="cid:Thumb" />
                        </a>
                    </td>
                    <td style="padding-left: 10px">
                        <p style="font-size: 15px; font-weight: bold">{{ post_title }}</p>
                        <p style="margin: 5px 0">
                            Author(s): <span style="font-style: italic">{{ post_authors|join(', ') }}</span>
                            | Tag(s): <span style="font-style: italic">{{ post_tags|join(', ') }}</span>
                        </p>
                        <p>{{ post_tldr | safe }} <a href="{{ url_for('posts.render', path=page_id, _external=True) }}">View post</a></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
