boto3==1.26.10
botocore==1.29.37
cooked_input 
flask==2.1.2
Flask-Migrate 
gitdb
gitpython==3.1.18
tabulate==0.8.9
pyyaml 
markdown==3.3.4
pygments==2.10.0
pyyaml 
flask_login==0.6.1
flask_principal 
flask_mail 
gunicorn 
inflection 
pillow
psycopg2
nbformat 
nbconvert[execute] 
traitlets
ldap3
requests
requests_oauthlib
weasyprint
jinja2>=2.7,<=3.0.3
werkzeug>=1.0,<=2.0.3
multiprocess
importlib-metadata==4.13.0
sqlalchemy==1.4.37
weasyprint==54.3
