alembic==1.0.7
awsebcli==3.14.10
bleach==3.1.0
blessed==1.15.0
blinker==1.4
botocore==1.12.86
cached-property==1.5.1
cement==2.8.2
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.3.9
cooked-input==0.5.1
dateparser==0.7.0
decorator==4.3.2
defusedxml==0.5.0
docker==3.7.0
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
entrypoints==0.3
enum34==1.1.6
Flask==1.0.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.3.1
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.3.2
future==0.17.1
gitdb2==2.0.5
GitPython==2.1.11
gunicorn==19.9.0
idna==2.7
inflection==0.3.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
knowledge-repo==0.8.8
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.0
mistune==0.8.4
mysqlclient==1.4.1
nbconvert==5.4.0
nbformat==4.4.0
pandocfilters==1.4.2
pathspec==0.5.5
Pillow==5.4.1
Pygments==2.3.1
python-dateutil==2.7.5
python-editor==1.0.4
pytz==2018.9
PyYAML==3.13
pyzmq==17.1.2
regex==2019.1.24
requests==2.20.1
semantic-version==2.5.0
setuptools-git==1.2
six==1.11.0
smmap2==2.0.5
SQLAlchemy==1.3.0b2
tabulate==0.8.3
termcolor==1.1.0
testpath==0.4.2
texttable==0.9.1
tornado==5.1.1
traitlets==4.3.2
tzlocal==2.0.0b1
urllib3==1.24.1
uWSGI==2.0.17.1
validus==0.3.0
veryprettytable==0.8.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.14.1
