  --index-url https://pypi.python.org/simple/
  alembic==0.9.2
  asn1crypto==0.22.0
  bleach==2.0.0
  blinker==1.4
  cffi==1.10.0
  click==6.7
  cryptography==1.8.1
  decorator==4.0.11
  entrypoints==0.2.3
  enum34==1.1.6
  Flask==0.12.2
  Flask-Mail==0.9.1
  Flask-Migrate==2.0.4
  Flask-Script==2.0.5
  Flask-SQLAlchemy==2.2
  future==0.16.0
  gitdb2==2.0.2
  GitPython==2.1.5
  gunicorn==19.7.1
  html5lib==0.999999999
  idna==2.5
  inflection==0.3.1
  ipython-genutils==0.2.0
  itsdangerous==0.24
  Jinja2==2.9.6
  jsonschema==2.6.0
  jupyter-client==5.0.1
  jupyter-core==4.3.0
  Mako==1.0.6
  Markdown==2.6.8
  MarkupSafe==1.0
  mistune==0.7.4
  nbconvert==5.2.1
  nbformat==4.3.0
  packaging==16.8
  pandocfilters==1.4.1
  pycosat==0.6.2
  pycparser==2.17
  Pygments==2.2.0
  pyOpenSSL==17.0.0
  pyparsing==2.1.4
  python-dateutil==2.6.0
  python-editor==1.0.3
  PyYAML==3.12
  pyzmq==16.0.2
  requests==2.14.2
  six==1.10.0
  smmap2==2.0.3
  SQLAlchemy==1.1.10
  tabulate==0.7.7
  testpath==0.3.1
  traitlets==4.3.2
  webencodings==0.5.1
  Werkzeug==0.12.2
