option_settings:
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 300
  - namespace: aws:elbv2:loadbalancer
    option_name: IdleTimeout
    value: 300
packages:
    yum:
        git: []
        R: []
commands:
    command1:
        command:  sudo Rscript -e "install.packages('knitr',repo='http://cran.us.r-project.org')"
