cooked_input 
flask 
Flask-Migrate 
gitdb
gitpython
tabulate
pyyaml 
markdown 
pygments 
pyyaml 
flask_login 
flask_principal 
flask_mail 
gunicorn 
inflection 
pillow
nbformat 
nbconvert[execute] 
traitlets
