.navbar .navbar-brand {
    display: block;
    float: none;
    height: inherit;
    text-align: center;
}

.navbar .navbar-brand img {
    height: 3em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul.auth-providers {
    display: block;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
}

ul.auth-providers>li>a {
    padding: 1em;
    display: block;
    border-radius: 2px;
    transition: background 0.3s;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

ul.auth-providers>li>a:hover {
    padding: 1em;
    display: block;
    background: #d2f1ee;
    transition: background 0.2s;
    opacity: 1;
}

ul.auth-providers>li>a>img {
    height: 3em;
    width: 3em;
    margin: 5px;
    margin-right: 1.5em;
}

span.auth-message {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.login-form {
    display: block;
    list-style-type: none;
    width: 400px;
    margin: 50px auto;
    padding: 1em;
    background: #fdfcfccf;
    border: 2px solid #1d1b1bcf;
    border-radius: 21px;
    box-sizing: border-box;
    box-shadow: 0.5px 1px 2px 0px #00000029;
}

.login-option {
    display: block;
    list-style-type: none;
    width: 300px;
    margin: 5px auto;
    padding: 1em;
    background: white;
    box-sizing: border-box;
    box-shadow: 0.5px 1px 2px 0px #00000029;
}