{% extends "base.html" %}

{% block title %}
Knowledge Repo Login
{% endblock %}

{% block navbar %}
<!-- Top-level navbar -->
<nav class="navbar navbar-inverse" style='border-radius: 0px;'>
  <div class="container">
    <div class="navbar-header" style='float:none'>
      <!-- Brand name / logo -->
      <a class="navbar-brand" href="/" class="logo-image" style='display: block; height:inherit; float: none; text-align: center;'>
        <img style='height:4em; margin: auto; margin-top: 1em; margin-bottom: 1em;' src='{{ url_for("static", filename = "images/logo-white.svg")}}' />
      </a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<style>
ul.auth-providers {
    display: block;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
}
ul.auth-providers > li > a {
    padding: 1em;
    display: block;
    border-radius: 2px;
    transition: background 0.3s;
}
ul.auth-providers > li > a:hover {
    padding: 1em;
    display: block;
    background: #ddd;
    transition: background 0.2s;
    opacity: 1;
}
ul.auth-providers > li > a > img {
    height: 2em;
    width: 2em;
    background: #aaa;
    margin: 5px;
}
</style>
<h1>Welcome to the Knowledge Repository!</h1>
<h2>The content you are attempting to access requires that you are logged in.
    Please sign in using one of the following login methods to continue.</h2>
<ul class='auth-providers'>
{% for provider in providers %}
    <li><a href='login/{{ provider['name'] }}?next={{request.args.next}}'><img src='' />Sign in using {{ provider['name'] }}</a></li>
{% endfor %}
</ul>
{% endblock %}
