{% extends "base.html" %}

{% block title %} Knowledge {% endblock %}

{% block content %}

    <br>
    <div class="container-post container-fluid"
         data-post-id="{{ post_id }}"
         data-post-path="{{ post_path }}">
      <div class="row">
        <div class="col-md-6">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-rendered">
              View Post
            </button>
            <button type="button" class="btn btn-default btn-raw">
              View Raw Markdown
            </button>
            {% if is_author and show_webeditor_button %}
            <button type="button" class="btn btn-default btn-webeditor">
              View post in webeditor
            </button>
            {% endif %}
          </div>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4 text-right">
          {% if page_views >= 0 %}
            <i class="glyphicon glyphicon-eye-open" id="pageview_stats" style='color: #9CA299'></i>
            <div id="pageview_stats" style="display: inline-block">
              Viewed {{ page_views }} times by {{ unique_views }} different users
            </div>
          {% endif %}
          {% if likes %}
            <i class="glyphicon glyphicon-heart glyphicon-clickable pop" style="font-size:16pt" id="tooltip-unlike" data-placement="bottom"
             data-trigger="#tooltip-unlike"
             data-container="body"
             data-toggle="popover"
             data-content='<div>Unlike This Post</div>'></i>
          {% else %}
            <i class="glyphicon glyphicon-heart-empty glyphicon-clickable pop" style="font-size:16pt" id="tooltip-like" data-placement="bottom"
             data-trigger="#tooltip-like"
             data-container="body"
             data-toggle="popover"
             data-content='<div>Like This Post</div>'></i>
          {% endif %}
          {% if total_likes %}
          + {{ total_likes }}
          {% endif %}
        </div>
      </div>
      <div class="row col-md-12">
        {% if is_author and is_private %}
        <a href='post_groups?post_id={{post_id}}'>
          Add permissions for users
        </a>
        {% endif %}
      </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='js/tooltips.js') }}" type="text/javascript"></script>
<script type="text/javascript">
$("document").ready(function(){
  var post_id = $(".container-post").data("post-id");
  var post_path = $(".container-post").data("post-path")
  tooltipsJx.initializeTooltips(post_id);

  $(".btn-rendered").on("click", function(){
    document.location.href = "/post/" + encodeURI(post_path);
  })

  $(".btn-raw").on("click", function(){
    document.location.href = "/post/" + encodeURI(post_path) + "?render=raw";
  })

  $(".btn-webeditor").on("click", function(){
    document.location.href = "/edit/" + encodeURI(post_path);
  })
});

</script>


{% endblock %}
