{% extends "base.html" %}

{% block title %} Knowledge Repo {% endblock %}

{% block content %}

<div class="col-12">
  <div class="panel">
    <center>
        <div class="panel-header">
          Error!
        </div>
    </center>

    <center>
        <div class="panel-body">
          <div class="row row-space-2"></div>
          <h3> You do not have permission to view this post! </h3>
          <text> Please ask {{ authors }} to add you to the list of people who can view the post </text>
        </div>
    </center>
  </div>
</div>

{% endblock %}
