<div class="modal"
  id="webpost-send-for-review-modal"
  role="dialog"
  aria-hidden="true"
  aria-labelledby="modal-body-label"
  aria-describedby="modal-body">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            Who should review this post?
          </h4>
        </div>

        <div class="modal-body">
          Enter your reviewers below. The reviewers will get an email saying your post is ready to review!
          <br><br>
          <form style="padding-left:12px">
            <b><text class="text-left" for="form-vert-text">
            Comma separated list of emails:
            </text></b>
          <input id="post_reviewers" type="text" placeholder="sally.smarts@email.com"
                style="width:75%; display:inline-block; padding: 5px; margin: 10px 0 0 0;">
        </form>
        <br>
        <p align="center">
        <button class="btn btn-primary btn-email-reviewers"
                data-behavior='modal-close'
                id='submission_close'>
          Email Reviewers!
        </button>
        </p>
      </div>
      </div>
  </div>
</div>
