{% extends "base.html" %}

{% block content %}
      <form action = "http://testnative2.upar7m7uf3.ap-northeast-2.elasticbeanstalk.com/ccbd24f370707c33603102adc7b77123/api/uploadpost" method=post enctype = "multipart/form-data">
<table>
<tr> <td>Select File to upload :    <td>      <input type = "file" name ="file" /> </tr>
<tr><td>Path to upload file to : <td> <input type = "text" name="path" /> </tr>
<tr><td><td>         <input type = "submit" value="Upload the post"/>   </tr>
       </table> </form>
{% endblock %}
