cooked_input 
flask 
Flask-Migrate 
gitdb
gitpython==3.1.30
tabulate
pyyaml 
markdown==3.3.4
pygments==2.10.0
pyyaml 
flask_login 
flask_principal 
flask_mail 
gunicorn 
inflection 
pillow
nbformat 
nbconvert[execute] 
traitlets
ldap3
requests
weasyprint
ipython_genutils
werkzeug==1.0
MarkupSafe==2.0.1
