enum34==1.1.6
flask==1.0.2
flask_login==0.4.1
flask_mail==0.9.1
Flask-Migrate==2.2.1
flask_principal==0.4.0
future==0.16.0
gitpython==2.1.11
gunicorn==19.9.0
inflection==0.3.1
jinja2==2.10
markdown==2.6.11
pygments==2.2.0
pyyaml==3.13
sqlalchemy==1.2.11
tabulate==0.8.2
werkzeug==0.14.1
